<h1 class="text-center"> Alpha Blog Users</h1>
<% @users.each do |user|%>
	<ul>
		<div class="row">
			<div class="col-md-offset-4 col-md-3">
				<div class="well text-center">
					<li><%= link_to gravatar_for(user), user_path(user)%></li>	
					<li><%= link_to user.username, user_path(user)%></li>
					<li><small></small><span class="badge"><%= pluralize(user.articles.count , "article") if user.articles %></span></li>
				</div>		
			</div>
		</div>
	</ul>	
<% end -%>
	<div class="text-center">
		<%= will_paginate @user%>
	</div>	