<h1 class="text-center"> Welcome to <%= @user.username %>'s profile</h1>
<div class="row">
	<div class="col-md-4 col-md-offset-3 text-center">
		<%= gravatar_for(@user) %>
	</div>
</div>
<h3 class="text-center"> Articles of <%= @user.username %>'</h3>
<%= render 'articles/article',obj: @user.articles %>