<<<<<<< HEAD
<div class="text-center jumbotron banner">
  <h1>Welcome to ALPHA BLOG!!!!</h1>
  <%= link_to "Sign Up ","# ",class: "btn btn-primary btn-lg" %>
</div>
=======
<h1>Welcome Home</h1>
>>>>>>> d0d6d38b15407dca0268001d5513d180ac728d19
