
<div class="container-fluid">
    <div class="col-md-3 part1">
      <div class="container">
        <h3>News Map</h3>
        <%= render 'layouts/navigation'%>
      </div>
  </div>
  <div class="col-md-8 part2">
    <h3 class="text-center">Welocome TO NewsMap Articles Blog</h3>
     <%= render 'layouts/messges' %>
  </div>
</div>

