/*=======================
Override csss
========================*/
$navbar-default-bg : #e45981;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Montserrat');
/*=======================
Bootstrap csss
========================*/
* {
font-family: 'Montserrat', sans-serif;
}
#logo {
  color:#fff;
  font-size : 2em;
  font-family : serif;
  font-weight : bold;
}
.banner {
  height:400px;
  color : #e0426e;
}
textarea {
  margin-top:1em;
}
footer {
  color : #fff; 
}
.footer-content.container-fluid.navbar.navbar-default {
    margin-top: 10px;
    position: relative;
    }
.navbar {
  color: #fff;
}
li {
    list-style-type: none;
}
.navbar-default .navbar-nav > li > a {

    color: #f5f3ed;
}
body {
   background-image : asset-url('asanoha-400px.png');
}

