/*=======================
Override csss
========================*/
$navbar-default-bg : #e45981;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Montserrat');
/*=======================
Bootstrap csss
========================*/
* {
font-family: 'Montserrat', sans-serif;
}
#logo {
  color:#fff;
  font-size : 2em;
  font-family : serif;
  font-weight : bold;
}
.banner {
  height:400px;
  color : #e0426e;
}
textarea {
  margin-top:1em;
}
footer {
  color : #fff; 
}
.footer-content.container-fluid.navbar.navbar-default {
    margin-top: 10px;
    position: relative;
    }
.navbar {
  color: #fff;
}
li {
    list-style-type: none;
}
.navbar-default .navbar-nav > li > a {

    color: #f5f3ed;
}

.part1 {
  background : #2A363B;
  height : 680px;
  padding-top: 6em;
}
.part2 {
  background : #E84A5F;
  height : 680px;
  padding-top: 6em;
}
.part2 p {
  font-size: 1.9em;
}
h3,h2{
    color: azure;
    padding-bottom:3em;
}