<!--
<div class="container col-sm-12 footer-blog">
  <footer class="text-center footer-content">
    <div class="row">
      <ul>
        <li></li>
      </ul>
    </div>
    <small>Copyright &copy; https://www.sagar.com</small>
  </footer>
</div>
-->
  <footer class="footer">
      <div class="container">
        <p class="text-center">@copyright www.NewsMap.com</p>
      </div>
  </footer>